<div class="container">
  <h3>承認待ちリスト</h3>
  <nav class="navbar">
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary">Find</button>
        </div>
      </div>
    </form>
  </nav>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Deployment</th>
          <th><div align="center">Namespace</div></th>
          <th><div align="center">作成日時</div></th>
          <th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <% @check.each do |deploy| %>
        <tr>
          <th><%= deploy.deploy %></th>
          <th><div align="center"><%= deploy.space %></div></th>
          <th><div align="center"><%= deploy.create_time.strftime("%Y/%m/%d %H:%M:%S") %></div></th>
          <th></th>
          <th>
            <button type="button" class="btn btn-primary btn-sm" data-whatever="<%= deploy.deploy %>" data-toggle="modal" data-target="#editModal">
              edit
            </button>
          </th>
          <input id="hidden_name" value="<%= deploy.deploy %>" type="hidden">
          <input id="hidden_space" value="<%= deploy.space %>" type="hidden">
          <input id="hidden_is_recognize" value="<%= deploy.is_recognize %>" type="hidden">
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @create, url: admin_deploy_path, local: true) do |f| %>
          <!-- Deploymentの名前 -->
          <div class="form-group" align="left">
            <div class="form-inline">
              <label class="control-label">Deployment名: </label>
              <span style="margin: 10px;"></span>
              <%= f.text_field :name, readonly: true, class: 'control-label', id: 'deploy_name'  %>
            </div>
          </div>
          <!-- Deploymentの名前 ここまで -->

          <!-- Port -->
          <div class="form-group" align="left">
            <div class="form-inline">
              <label class="control-label">Namespace: </label>
              <span style="margin: 10px;"></span>
              <%= f.text_field :space, readonly: true, class: 'control-label', id: 'deploy_space'  %>
            </div>
          </div>
          <!-- Port ここまで -->

          <!-- 承認済み -->
          <div class="form-group" align="left">
            <div class="form-inline">
              <label class="control-label">承認済みにする: </label>
              <span style="margin: 10px;"></span>
              <label class="control-label" id="deploy_is_recognize"></label>
              <%= f.text_field :is_recognize, readonly: true, class: 'control-label', id: 'deploy_is_recognize'  %>
            </div>
          </div>
          <!-- 承認済み ここまで-->

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
