<div class="container" style="width: 100%; max-width: 330px; padding: 15px; margin: 0 auto;">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- ユーザー名 -->
    <div class="form-group">
      <%= f.text_field :username, :class => "form-control", :placeholder => "Username", required: true, autofocus: true %>
    </div>
    <!-- ユーザー名 ここまで -->

    <!-- パスワード -->
    <div class="form-group">
      <%= f.password_field :password, :class => "form-control", :placeholder => "Password", required: true, autocomplete: "off" %>
    </div>
    <!-- パスワード ここまで -->

    <!-- ログインボタン -->
    <div class="actions">
      <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block" %>
    </div>
    <!-- ログインボタン ここまで -->

    <% end %>
  <%= render "devise/shared/links" %>
</div>
