<% @page_title = "Current Status" %>
<%= javascript_include_tag "status" %>

<div class="container">
  <h1>Current Status</h1>
  <ul>
    <h2><li>Pods</li></h2>
    <!-- podの状態 -->
    <% if @pods.count == 0 %>
      <div class="container">
        <p>対象が存在しません</p>
      </div>
    <% else %>
      <div class="table-responsive" id="pod" >
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th><div align="center">Status</div></th>
              <th><div align="center">Reason</div></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @pods.each do |pod| %>
            <tr>
              <th><%= pod[:name] %></th>
              <th><%= pod[:image]%></th>
              <th><div align="center"><%= pod[:state] %></div></th>
              <% if pod[:reason] == nil %>
                <th><div align="center">-</div></th>
                <% if pod[:state] == "running" %>
                <th><%= link_to "Link", "http://10.50.0.151:#{pod[:port]}", :class => "btn btn-primary btn-sm", :role => "button", :target => :_blank %></th>
                <% else %>
                <th></th>
                <% end %>
              <% else%>
                <th><div align="center"><%= pod[:reason] %></div></th>
                <th></th>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <!-- podの状態 ここまで -->
    <h2><li>Deployments</li></h2>
    <!-- deploymentの状態-->
    <% if @deployments.count == 0 %>
      <div class="container">
        <p>対象が存在しません</p>
      </div>
    <% else %>
    <div class="table-responsive" id="deploy" >
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th><div align="center">Ready</div></th>
            <th><div align="center">Available</div></th>
            <th><div align="center">Reason</div></th>
            <th></th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @deployments.each do |deployment| %>
          <tr>
            <th>
              <!-- ステータスバッジ -->
              <div id="<%= "#{deployment[:name]}_status-badge"%>">
                <% if deployment[:is_delete] == false && deployment[:is_recognize] == true %>
                <!-- 承認済み -->
                  <div align="center"><span class="badge badge-success">承認済み</span></div>
                <!-- 承認済み ここまで -->
                <% elsif deployment[:is_delete] == false && deployment[:is_recognize] == false %>
                <!-- 承認待ち -->
                  <div align="center"><span class="badge badge-secondary">承認待ち</span></div>
                <!-- 承認待ち ここまで -->
                <% elsif deployment[:is_delete] == nil && deployment[:is_recognize] == nil %>
                <!-- エラー -->
                  <div align="center"><span class="badge badge-danger">Error</span></div>
                <!-- エラー ここまで -->
                <% end %>
              </div>
              <!-- ステータスバッジ ここまで -->
            </th>
            <th><%= deployment[:name] %></th> <!-- deployment名 -->
            <th><div align="center"><%= deployment[:ready] %></div></th>
            <th><div align="center"> <%= deployment[:available] %></div></th>
            <th>
              <% array = deployment[:ready].split('/') %>
              <% if array[0] == array[1]%>
                <div align="center">-</div>
              <% else %>
                <div align="center"><%= deployment[:reason] %></div>
              <% end %>
            </th>
            <th>
              <!-- 削除ボタン -->
              <button class="btn btn-primary btn-sm" id="delete" data="<%= deployment[:name] %>">Delete</button>
            </th>
            <th>
              <% if deployment[:is_delete] == true %>
                <button class="btn btn-secondary btn-sm" id="expand" data="<%= deployment[:name] %>">延長申請する</button>
              <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <!-- deploymentの状態 ここまで -->
  </ul>
</div>
