<% @page_title = "新規作成" %>

<div class="container" style="width: 100%; max-width: 500px; padding: 15px; margin: 0 auto;">

  <% if @create.errors.any? %>
  <!-- バリデーションのエラーがあった時 -->
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @create.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <!-- バリデーションのエラーがあった時 ここまで-->
  <% end %>

  <% if flash[:success] %>
  <!-- 成功時メッセージ -->
    <div id="success_alert" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      以下の条件で作成しました。<br>
      <%= flash[:success].html_safe %>
      現在の状態は<%= link_to "こちら", status_show_path %>で確認してください。
    </div>
  <!-- 成功時メッセージ ここまで -->
  <% end %>

  <% if flash[:warning] %>
  <!-- conflict時メッセージ -->
    <div id="conflict_alert" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:warning].html_safe %>
      現在の状態は<%= link_to "こちら", status_show_path %>で確認してください。
    </div>
  <!-- conflict時メッセージ ここまで-->
  <% end %>

  <%= form_with(model: @create, url: '/create', local: true) do |f| %>
    <!-- イメージ選択 -->
    <div class="form-group" align="left">
      <div class="form-inline">
        <%= f.label :image, 'Image:', :class => 'control-label' %>
        <span style="margin: 10px;"></span>
        <%= f.select :image, options_for_select(@repo), {}, class: 'form-control' %>
      </div>
    </div>
    <!-- イメージ選択 ここまで -->

    <!-- Podの名前 -->
    <div class="form-group" align="left">
      <div class="form-inline">
        <%= f.label :name, 'Name: ', class: 'control-label' %>
        <span style="margin: 10px;"></span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <!-- Podの名前 ここまで -->

    <!-- Port -->
    <div class="form-group" align="left">
      <div class="form-inline">
        <%= f.label :port, 'Port: ', class: 'control-label' %>
        <span style="margin: 10px;"></span>
        <%= f.phone_field :port, class: 'form-control' %>
      </div>
    </div>
    <!-- Port ここまで -->

    <%= f.submit "Create", class: "form-control btn-primary" %>
  <% end %>
</div>
