<div class=container>
  <h4>以下の条件で作成をしました</h4>
  <p>  現在の状態は<%= link_to "こちら", status_show_path %>で確認してください。</p>
  <% for num in 0..(session[:count].to_i - 1) do %>
  <h5 class="col-12">Deploymet<%= num %></h5>
  <!-- イメージ選択 -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-1">
        <label class="control-label">Image:</label>
      </div>
      <div class="col-md-11">
        <label class="control-label"><%= session["image-#{num}".to_sym]%></label>
      </div>
    </div>
  </div>
  <!-- イメージ選択 ここまで -->

  <!-- Podの名前 -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-1">
        <label class="control-label">Name:</label>
      </div>
      <div class="col-md-11">
        <label class="control-label"><%= session["name-#{num}".to_sym]%></label>
      </div>
    </div>
  </div>
  <!-- Podの名前 ここまで -->

  <!-- Port -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-1">
        <label class="control-label">Port:</label>
      </div>
      <div class="col-md-11">
        <label class="control-label"><%= session["port-#{num}".to_sym]%></label>
      </div>
    </div>
    <input value="<%= session["port-#{num}".to_sym] %>" type="hidden" name="create[<%= num %>][port]">
  </div>
  <!-- Port ここまで -->
  <hr>
  <% end %>
</div>
