<div class=container>
  <h4>以下の条件で作成をしました</h4>
  <p>  現在の状態は<%= link_to "こちら", status_show_path %>で確認してください。</p>
  <% for num in 0..(session[:count].to_i - 1) do %>
  <h5 class="col-12">Deploymet<%= num %></h5>
  <!-- イメージ選択 -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Image:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= session["image-#{num}".to_sym]%></label>
      </div>
    </div>
  </div>
  <!-- イメージ選択 ここまで -->

  <!-- Podの名前 -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Name:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= session["name-#{num}".to_sym]%></label>
      </div>
    </div>
  </div>
  <!-- Podの名前 ここまで -->

  <!-- Port -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Port:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= session["port-#{num}".to_sym]%></label>
      </div>
    </div>
  </div>
  <!-- Port ここまで -->

  <!-- Requests memory -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Requests memory:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= "#{session["request_memory-#{num}".to_sym]} MiB" %></label>
      </div>
    </div>
  </div>
  <!-- Requests memory ここまで -->

  <!-- Limits memory -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Limits memory:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= "#{session["limit_memory-#{num}".to_sym]} MiB" %></label>
      </div>
    </div>
  </div>
  <!-- Limits memory ここまで -->

  <!-- Requests cpu-->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Requests CPU:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= "#{session["request_cpu-#{num}".to_sym]}" %></label>
      </div>
    </div>
  </div>
  <!-- Requests cpu ここまで -->

  <!-- Limits cpu -->
  <div class="form-group offset-md-1">
    <div class="form-inline">
      <div class="col-md-2">
        <label class="control-label">Limits CPU:</label>
      </div>
      <div class="col-md-10">
        <label class="control-label"><%= "#{session["limit_cpu-#{num}".to_sym]}" %></label>
      </div>
    </div>
  </div>
  <!-- Limits cpu ここまで -->

  <hr>
  <% end %>
</div>
